@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: radial-gradient(circle at center, #b3b0b0, #ffffff);
  height: 100vh;
}

.header {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(2, 93, 25, 0.7);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

  padding: 0 25px;
}
.logo a {
  display: block;
}
.logo a img {
  display: block;
  width: 50%;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  z-index: 1;
}
.menu li {
  list-style-type: none;
  font-weight: 200;
  font-size: 14px;
}
.menu li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  display: block;
  padding: 30px 25px;
  font-weight: 700;
  line-height: 1;
  transition: 0.5s;
}
.menu li a:hover {
  box-shadow: 0 -5px 0px #ffffff inset, 500px 0 0 rgba(14, 13, 13, 0.08) inset;
}
.active {
  box-shadow: 0 -5px 0px #ffffff inset, 500px 0 0 rgba(14, 13, 13, 0.08) inset;
}
.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: rgba(2, 93, 25, 0.7);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.hamburger {
  position: relative;
  width: 30px;
  height: 4px;
  background: #ffffff;
  border-radius: 10px;
  cursor: pointer;
  z-index: 2;
  transition: 0.3s;
}
.hamburger:before,
.hamburger:after {
  content: "";
  position: absolute;
  height: 4px;
  right: 0;
  background: #ffffff;
  border-radius: 10px;
  transition: 0.3s;
}
.hamburger:before {
  top: -10px;
  width: 20px;
}
.hamburger::after {
  top: 10px;
  width: 25px;
}
.toggle-menu {
  position: absolute;
  width: 30px;
  height: 100%;
  z-index: 3;
  cursor: pointer;
  opacity: 0;
}
.hamburger,
.toggle-menu {
  display: none;
}
.navigation input:checked ~ .hamburger {
  background: transparent;
}
.navigation input:checked ~ .hamburger:before {
  top: 0;
  transform: rotate(-45deg);
  width: 30px;
}
.navigation input:checked ~ .hamburger:after {
  top: 0;
  transform: rotate(45deg);
  width: 30px;
}
.navigation input:checked ~ .menu {
  right: 0;
  box-shadow: -20px 0 40px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 992px) {
  .header {
    padding: 10px 20px;
  }
  .hamburger,
  .toggle-menu {
    display: block;
  }
  .menu {
    justify-content: start;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    right: -300px;
    background: rgba(2, 93, 25, 1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    width: 300px;
    height: 100%;
    padding-top: 67px;
  }
  .menu li {
    width: 100%;
    background: rgba(2, 93, 25, 1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);

    -webkit-backdrop-filter: blur(5px);
    text-align: left;
  }
  .menu li a {
    padding: 30px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  }
}
.hero-section {
  position: relative;
  background-image: url("images/banner-1.webp");
  background-size: cover;
  height: 600px;
  display: flex;
}
.hero-section::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: linear-gradient(to bottom, transparent, #b3b0b0);
}
.hero-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  font-size: 24px;
  margin-left: 40px;
  -webkit-text-stroke: 1.5px #2f4f4f;
}
.hero-content h1 {
  font-size: 60px;
}
.hero-content p {
  font-size: 40px;
  font-weight: 600;
}
@media screen and (max-width: 768px) {
  .hero-content h1 {
    font-size: 40px;
  }
  .hero-content p {
    font-size: 25px;
    font-weight: 600;
    -webkit-text-stroke: 0.8px #2f4f4f;
  }
  .hero-section {
    background-image: url("images/banner-mobile.webp");
    height: 500px;
    background-size: cover;
  }
}
.topic-grid {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 40px;
  padding-bottom: 100px;
}
.national-parks {
  display: flex;

  align-items: center;
  gap: 20px;
  width: 100%;

  justify-content: center;
}
.wilpattu {
  position: relative;
  width: 45%;
  height: 300px;
  background-image: url("images/wilpattu-main.jpg");
  background-size: cover;
}

.yala {
  height: 300px;
  position: relative;
  width: 45%;

  background-image: url("images/yala-main.jpeg");
  background-size: cover;
}
.sl-leopard {
  display: flex;
  align-items: center;
  justify-content: center;
}
.srilankan-leopard {
  position: relative;
  height: 400px;
  width: 91.5%;
  background-image: url("images/srilankan-leopard.jpg");
  background-size: cover;
}
.footer-main {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  gap: 15px;
  color: white;
  background: rgba(2, 93, 25, 0.7);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.footer-details {
  max-width: 300px;
}
.footer-details li {
  list-style: none;
}
.footer-details a {
  text-decoration: none;
  color: #ffffff;
}
.footer-details a:hover {
  text-decoration: underline;
}
.footer-details h2 {
  color: #ffffff;
  font-size: 25px;
}
.socials {
  display: flex;
  margin-top: 10px;
  align-items: center;
  gap: 15px;
}
.socials a img {
  width: 30px;
}
.footer-content {
  font-weight: 500;
  background: rgba(2, 93, 25, 0.7);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  text-align: center;
  padding: 10px;
}
.footer-content p {
  color: white;
}
.heading {
  display: flex;
  justify-content: center;
  align-items: center;
}
.heading img {
  max-width: 500px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.park-content {
  position: absolute;
  bottom: 0;
  left: 10px;
  padding-bottom: 30px;
  color: white;
}
.park-content h1 {
  font-size: 50px;
  padding-bottom: 18px;
}
.park-content a {
  text-decoration: none;
  background-color: #2f4f4f;
  padding: 15px;
  color: white;
  border-radius: 15px;
  font-size: 18px;
  transition: 0.4s;
}
.park-content a:hover {
  background-color: #3cb371;
  padding: 18px;
}
.srilankan-leopard .park-content {
  position: absolute;
  left: 30%;
}
.srilankan-leopard .park-content h1 {
  font-size: 90px;
}
.srilankan-leopard .park-content a {
  font-size: 40px;
}
@media screen and (max-width: 768px) {
  .park-content h1 {
    font-size: 25px;
  }
  .srilankan-leopard .park-content h1 {
    font-size: 35px;
  }
  .srilankan-leopard .park-content a {
    font-size: 15px;
  }
  .heading img {
    max-width: 200px;
  }
}
.heading-description {
  margin: 0 30px;
  line-height: 1.5;
}
@media screen and (max-width: 992px) {
  .heading {
    flex-direction: column;
  }
  .heading-description {
    padding: 10px;
  }
}
/* @media screen and (max-width: 768px) {
  .heading-description {
    font-size: 12px;
  }
} */
.leopard-facts {
  position: relative;
  background-color: #006400;
  margin-bottom: 80px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.6);
}
.leopard-bg {
  color: #fff;
  padding: 60px;
}
.facts-kotiya {
  padding-left: 40px;
}
.leopard-content h1 {
  font-size: 40px;
}
.kotiya-mobile {
  display: none;
}
@media screen and (max-width: 992px) {
  .leopard-facts {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 80%;
  }
  .leopard-bg {
    color: #fff;
    padding: 15px;
  }
  .kotiya {
    display: none;
  }
  .kotiya-mobile {
    display: block;
  }
}
.learn-more a {
  background-color: #3a8000;
  text-decoration: none;
  color: white;
  font-weight: 600;
  padding: 15px;
  font-size: 20px;
  margin-top: 5px;
  border-radius: 15px;
  transition: 0.4s;
}
.learn-more a:hover {
  background: #3cb371;
}
.wildlife-section {
  margin-bottom: 50px;
  padding: 30px;
}

.heading-main {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #006400;
}

.wildlife-section p {
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
  margin-bottom: 20px;
}

.highlights-list {
  list-style-type: disc;
  margin-left: 10px;
}

.highlights-list li {
  margin-bottom: 10px;
  color: #000000;
}
.sub-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
  width: 100%;
  height: 400px;
  background-image: url(images/wildlife-main.webp);
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
}
.department {
  background-image: url(images/department.webp);
}
.about-text {
  margin: 20px;
  color: white;
  font-size: 30px;
  padding: 15px;
}
.about-text h1 {
  background: #028f02a9;
  text-align: center;
  border-radius: 10px;
  padding: 5px;
}

@media screen and (max-width: 640px) {
  .about-text h1 {
    font-size: 25px;
  }
}

iframe {
  width: 100%;
  border-radius: 20px;
  height: 500px;
  margin-bottom: 60px;
}

table {
  width: 60%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border: 1px solid #3a8000;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #3a8000;
  color: #fff;
}

tfoot {
  background-color: #e0e0e0;
  font-style: italic;
}
.location-images {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.location-images img {
  max-width: 500px;
  border-radius: 20px;
}
@media screen and (max-width: 768px) {
  .location-images img {
    max-width: 300px;
  }
  .footer-main {
    flex-direction: column;
    gap: 30px;
    width: 100%;
  }
}
.details {
  display: flex;
  justify-content: center;
}
td img {
  max-width: 100px;
}
.main-intro {
  padding: 30px;
}
.main-intro ul {
  padding-left: 40px;
}
.gallery-heading {
  margin-left: 30px;
}
.about-wildlife {
  display: flex;
  margin: 30px;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.about-wildlife p {
  max-width: 90%;
}
.about-wildlife h2 {
  color: #006400;
}
.about-wildlife a {
  padding: 30px;
  background: #006400;
}
.gallery-grid {
  width: 400px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);
}
.gallery-item {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
}

.item-1 {
  border-top-left-radius: 100px 55px;
}
.item-2 {
  border-top-right-radius: 100px 55px;
}
.item-3 {
  border-bottom-left-radius: 100px 55px;
}
.item-4 {
  border-bottom-right-radius: 100px 55px;
}
.explore {
  display: flex;
  align-items: center;
  justify-content: center;
}
.explore a {
  text-decoration: none;
  color: white;
  padding: 18px;
  background: #006400;
  font-weight: 700;
  font-size: 32px;
  border-radius: 20px;
  transition: ease 0.3s;
}
.explore a:hover {
  background: rgb(19, 94, 53);
}
@media screen and (max-width: 1024px) {
  .about-wildlife {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .gallery-grid {
    width: 600px;
  }
  .gallery-item {
    height: 300px;
    width: 300px;
  }
  .about-wildlife p {
    max-width: 100%;
  }
  .explore a {
    font-size: 24px;
  }
  .heading-main {
    font-size: 24px;
  }
}
@media screen and (max-width: 768px) {
  .gallery-grid {
    width: 300px;
  }
  .gallery-item {
    height: 150px;
    width: 150px;
  }
  .about-wildlife p {
    max-width: 100%;
  }
}

.main-intro iframe {
  display: flex;
  margin: 0 auto;
  max-width: 600px;
  max-height: 300px;
}
.leopard-hero {
  background-image: url(images/banner-1.webp);
}
.leopard-habitat {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding: 30px;
  margin-top: 40px;
}
.habitat-desc {
  display: flex;
  flex-direction: column;
}
.habitat-img img {
  max-width: 600px;
  border-radius: 20px;
}
.habitat-img {
  float: right;
}
.leopard-button {
  text-decoration: none;
  color: white;
  padding: 10px;
  background: #006400;
  width: fit-content;
  border-radius: 10px;
  transition: ease 0.3s;
}
.leopard-button:hover {
  background: #3cb371;
}

@media screen and (max-width: 1280px) {
  .leopard-habitat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .second-item {
    flex-direction: column-reverse;
  }
  .habitat-img {
    float: none;
  }

  .habitat-desc h3 {
    font-size: 24px;
  }
  .wildlife-section {
    padding: 10px;
  }
}
@media screen and (max-width: 768px) {
  .leopard-habitat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .second-item {
    flex-direction: column-reverse;
  }
  .habitat-img {
    float: none;
  }
  .habitat-img img {
    max-width: 300px;
  }
  .habitat-desc h3 {
    font-size: 24px;
  }
  .wildlife-section {
    padding: 10px;
  }
}
.animals-hero {
  background-image: url(images/wildlife-tours.webp);
}
.explore-parks {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 80px;
}
.explore-parks img {
  width: 300px;
  border-radius: 20px;
  margin-top: 20px;
  height: 300px;
}
.explore-parks h4 {
  text-align: center;
  margin-top: 10px;
}
nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}
.iframe {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  margin: 40px;
}
.iframe iframe {
  max-width: 600px;
  height: 400px;
}
.iframe img {
  width: 600px;
}
@media screen and (max-width: 1024px) {
  .iframe {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  .iframe iframe {
    width: 100%;
  }
  .iframe img {
    width: 100%;
  }
}
.flex-gallery {
  padding: 30px;
}
.gallery-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.gallery-row img {
  width: 400px;
  max-height: 400px;
  border-radius: 20px;
  object-fit: contain;
  margin: 10px;
  transition: ease 0.3s;
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.5);
}
.gallery-row img:hover {
  transform: scale(1.05);
}
@media screen and (max-width: 1024px) {
  .gallery-row img {
    width: 100%;
  }
  .gallery-row {
    flex-direction: column;
  }
}
