@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #d7d6d5;
  height: 100vh;
}
.header {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #006400;
  padding: 0 25px;
}
.logo a {
  display: block;
}
.logo a img {
  display: block;
  width: 50%;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  z-index: 1;
}
.menu li {
  list-style-type: none;
  font-weight: 500;
}
.menu li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 30px 25px;
  font-size: 18px;
  line-height: 1;
  transition: 0.5s;
}
.menu li a:hover {
  box-shadow: 0 -5px 0px #f8f7f7 inset,
    500px 0 0 rgba(255, 255, 255, 0.08) inset;
}
.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #006400;
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.hamburger {
  position: relative;
  width: 30px;
  height: 4px;
  background: #fff;
  border-radius: 10px;
  cursor: pointer;
  z-index: 2;
  transition: 0.3s;
}
.hamburger:before,
.hamburger:after {
  content: "";
  position: absolute;
  height: 4px;
  right: 0;
  background: #fff;
  border-radius: 10px;
  transition: 0.3s;
}
.hamburger:before {
  top: -10px;
  width: 20px;
}
.hamburger::after {
  top: 10px;
  width: 25px;
}
.toggle-menu {
  position: absolute;
  width: 30px;
  height: 100%;
  z-index: 3;
  cursor: pointer;
  opacity: 0;
}
.hamburger,
.toggle-menu {
  display: none;
}
.navigation input:checked ~ .hamburger {
  background: transparent;
}
.navigation input:checked ~ .hamburger:before {
  top: 0;
  transform: rotate(-45deg);
  width: 30px;
}
.navigation input:checked ~ .hamburger:after {
  top: 0;
  transform: rotate(45deg);
  width: 30px;
}
.navigation input:checked ~ .menu {
  right: 0;
  box-shadow: -20px 0 40px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 992px) {
  .header {
    padding: 10px 20px;
  }
  .hamburger,
  .toggle-menu {
    display: block;
  }
  .menu {
    justify-content: start;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    right: -300px;
    background: #006400;
    width: 300px;
    height: 100%;
    padding-top: 67px;
  }
  .menu li {
    width: 100%;
    text-align: left;
  }
  .menu li a {
    padding: 30px;
    font-size: 20px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset;
  }
}
.hero-section {
  position: relative;
  background-image: url("images/banner-1.jpg");
  background-size: cover;
  height: 600px;
  display: flex;
}
.hero-section::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: linear-gradient(to bottom, transparent, #d7d6d5);
}
.hero-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  font-size: 24px;
  margin-left: 40px;
  -webkit-text-stroke: 1.5px #2f4f4f;
}
.hero-content h1 {
  font-size: 60px;
}
.hero-content p {
  font-size: 40px;
  font-weight: 600;
}
@media screen and (max-width: 768px) {
  .hero-content h1 {
    font-size: 40px;
  }
  .hero-content p {
    font-size: 25px;
    font-weight: 600;
    -webkit-text-stroke: 0.8px #2f4f4f;
  }
  .hero-section {
    background-image: url("images/banner-mobile.jpg");
    height: 500px;
    background-size: cover;
  }
}
.topic-grid {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 40px;
  padding-bottom: 100px;
}
.national-parks {
  display: flex;

  align-items: center;
  gap: 20px;
  width: 100%;

  justify-content: center;
}
.wilpattu {
  position: relative;
  width: 45%;
  height: 300px;
  background-image: url("images/wilpattu-main.jpg");
  background-size: cover;
}

.yala {
  height: 300px;
  position: relative;
  width: 45%;
  background-color: red;
  background-image: url("images/yala-main.jpeg");
  background-size: cover;
}
.sl-leopard {
  display: flex;
  align-items: center;
  justify-content: center;
}
.srilankan-leopard {
  position: relative;
  height: 400px;
  width: 91.5%;
  background-image: url("images/srilankan-leopard.jpg");
  background-size: cover;
}
footer {
  background: #006400;
  color: white;
  padding: 20px;
  text-align: center;
}

.footer-content {
  font-weight: 500;
}
.heading {
  display: flex;
  justify-content: center;
  align-items: center;
}
.heading img {
  max-width: 500px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.park-content {
  position: absolute;
  bottom: 0;
  left: 10px;
  padding-bottom: 30px;
  color: white;
}
.park-content h1 {
  font-size: 50px;
  padding-bottom: 18px;
}
.park-content a {
  text-decoration: none;
  background-color: #2f4f4f;
  padding: 15px;
  color: white;
  border-radius: 15px;
  font-size: 18px;
  transition: 0.4s;
}
.park-content a:hover {
  background-color: #3cb371;
  padding: 18px;
}
.srilankan-leopard .park-content {
  position: absolute;
  left: 30%;
}
.srilankan-leopard .park-content h1 {
  font-size: 90px;
}
.srilankan-leopard .park-content a {
  font-size: 40px;
}
@media screen and (max-width: 768px) {
  .park-content h1 {
    font-size: 25px;
  }
  .srilankan-leopard .park-content h1 {
    font-size: 35px;
  }
  .srilankan-leopard .park-content a {
    font-size: 15px;
  }
  .heading img {
    max-width: 200px;
  }
}
.heading-description {
  font-size: 15px;
  padding: 16px;
  line-height: 1.5;
}
@media screen and (max-width: 992px) {
  .heading {
    flex-direction: column;
  }
  .heading-description {
    padding: 10px;
  }
}
@media screen and (max-width: 768px) {
  .heading-description {
    font-size: 12px;
  }
}
